.participants_names:after {
  content: ", "; }

.participants_names:last-child:after {
  content: ""; }

.statusInfo {
  cursor: pointer;
  width: 16%;
  background-color: #dee2e6;
  border: 1px solid #dee2e6;
  display: inline-block;
  font-size: 0.55em;
  text-align: center;
  font-weight: 700; }
