.participants_names:after {
  content: ", "; }

.participants_names:last-child:after {
  content: ""; }

.statusInfo {
  cursor: pointer;
  width: 16%;
  background-color: #dee2e6;
  border: 1px solid #dee2e6;
  display: inline-block;
  font-size: 0.55em;
  text-align: center;
  font-weight: 700; }

.goldStar {
  border: "1px solid red";
  text-decoration: underline;
}

.table-container{
  width: 100%;
  position: relative;
}

.overview-table{
  overflow-x: scroll;
  overflow-y: overflow;
  margin-left: 24em;
}

.overview-table table {
  border-collapse: separate;
  border-spacing: 0;
}
  
.overview-table .headcol {
  position: absolute;
  width: 12em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

.overview-table .headcol2 {
  margin-left: 12em;
}
  
.overview-table .headcol:before {
  margin-left: 12em;
}

.overview-table .winner {
  color: rgb(102, 219, 121) !important;
  font-weight: 700;
}

.overview-table .border-right{
  border-right: 1px solid black;
}

.overview-table .border-left{
  border-right: 1px solid black;
}